<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>
      Describe your feelings!
    </p>
    <table>
      <th>Header 1</th>
      <th>Header 2</th>
      <tr>
        <td>first column</td>
        <td>second column</td>
      </tr>
      <tr>
        <td>first column</td>
        <td>second column</td>
      </tr>
    </table>
  </div>
</template>
<style>
table, td {
  border: 1px solid lightgreen
}
th {
  border: 2px solid darkgreen
}
</style>
