<template>
  <div class="pokemons">
    <input type="text" v-model="searchPoke">
    <div class="pokemons-list">
      <a-card
        hoverable
        v-for="pokemon in filteredPoke"
        :key="pokemon.id"
        class="list-item"
        @click="handleCardClick(pokemon.id)"
      >
        <a-cover>
          <img :src="pokemon.image">
        </a-cover>
        <a-title>
          <p class="poke-link">{{pokemon.name}}</p>
        </a-title>
        <a-tag :color="tagStyle(pokemon.types)">{{pokemon.types}}</a-tag>
      </a-card>
    </div>
    <span>
      <router-view></router-view>
    </span>
  </div>
</template>

<script>
import axios from "axios";
import { Card, Tag } from "ant-design-vue";
import Pokemon from "../components/Pokemon.vue";
import typeColor from "../utils/typeColor";

export default {
  data() {
    return {
      ammount: "",
      searchPoke: "",
      pokeNames: [""],
      pokemons: []
    };
  },
  components: {
    pokemonList: Pokemon
  },
  methods: {
    tagStyle(type) {
      return typeColor(type);
    },
    handleCardClick(id) {
      this.$router.push(`/pokedex/${id}`);
    }
  },
  computed: {
    filteredPoke() {
      return this.pokemons
        .sort((a, b) => {
          return a.id - b.id;
        })
        .filter(el => {
          return el.name.indexOf(this.searchPoke.toLowerCase()) !== -1;
        });
    }
  },
  mounted() {
    axios
      .get("https://pokeapi.co/api/v2/pokemon?limit=20")
      .then(async response => {
        response.data.results.map(pokemon => {
          return axios
            .get(`https://pokeapi.co/api/v2/pokemon/${pokemon.name}`)
            .then(response => {
              this.pokemons.push({
                image: response.data.sprites.front_default,
                name: pokemon.name,
                id: response.data.id,
                types: response.data.types[0].type.name
              });
              // this.isLoading = false;
            });
          this.ammount = response.count;
        });
      })
      .catch(error => console.log("error: " + error));
  }
};
</script>

<style scoped>
.pokemons-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.list-item {
  margin: 10px;
}
.poke-link {
  text-transform: capitalize;
  color: darkcyan;
}
</style>