<template>
  <div class="pokemon-i">
    <h1>{{name}}</h1>
    <img :src="sprite.front_default">
    <br>
    <img v-for="image in sprite" :key="image" :src="image">
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      id: this.$route.params["id"],
      sprite: "",
      name: ""
    };
  },
  watch: {
    $route(toR, fromR) {
      this.id = toR.params["id"];
      axios
        .get(`https://pokeapi.co/api/v2/pokemon/${this.$route.params["id"]}`)
        .then(responce => {
          this.sprite = responce.data.sprites;
          this.name = responce.data.name;
        });
    }
  },
  mounted() {
    axios
      .get(`https://pokeapi.co/api/v2/pokemon/${this.$route.params["id"]}`)
      .then(responce => {
        console.log(responce.data);
        this.sprite = responce.data.sprites;
        this.name = responce.data.name;
      });
  }
};
</script>

<style>
</style>
